<!DOCTYPE html>
<html>
  <head>
    <title>{% block titol %} {% endblock %}</title>
  </head>
  <body>
    <div class="menu">{% include "./menu.njk" %}</div>

    <div class="container">{% block contingut %} {% endblock %}</div>
  </body>

  <footer>
    <p>Exercici Movies - Desenrrollament Web en Entorn Servidor</p>
    <p>Pablo Cortés Bravo</p>
    </footer>
</html>
