<!DOCTYPE html>
<html>
  <head>
    <title>{% block titol %} {% endblock %}</title>
  </head>
  <body>
    <div class="menu">{% include "./menu.njk" %}</div>

    <div class="container">{% block contingut %} {% endblock %}</div>
  </body>

  <footer>Pablo Cortés Bravo</footer>
</html>
