{% extends "../base.njk" %}

{% block titol %}Pel·lícules | Llistat{% endblock %}

{% block contingut %}

 <h1 style="height: 120px" class="text-md-center">Llistat de pel·lícules</h1>

    <div class="list-group">
        {% for movie in movies %}
            <li class="d-flex justify-content-between align-items-center">
                 <a class="list-group-item list-group-item-action" href="/movies/update/{{ movie._id }}"> {{ movie.title }} </a>
                 <form action="/movies/delete/{{movie._id}}" method="post">
                 <button class="btn btn-danger">Esborrar</button>
                 </form>
            </li>
        {% endfor %}
    </div>

{% endblock %}
